<div class="atmosphereInfoContainer">
  <!-- 반복 리스트 -->
  <div class="atmosphereInfo_list atmosphereData_ID_1">
    <div class="atmosphereInfo_locationName"><span>에이티디사</span></div>

    <div class="atmosphereInfo_dataBox">
      <div class="dataBox_windData">
        <span>◉</span>
        <span>남서풍</span>
        <span>123m/s</span>
        <span>◉</span>
        <span>25º</span>
        <span>◉</span>
        <span>55%</span>
      </div>
      <a class="dataBox_detailButton">자세히 보기</a>

      <div class="dataBox_separateLine"></div>

      <div class="dataBox_measurmentData">
        <div class="measurementData_ammoniaBox">암모니아</div>
        <div class="measurementData_hydrogenSulfideBox">황화수소</div>
        <div class="measurementData_methaneBox">메테인</div>
        <div class="measurementData_carbonDioxideBox">이산화탄소</div>
      </div>
    </div>
  </div>
</div>
