<!-- 가로방향 landscape -->
<div class="navContainer">
  <!-- temp. 이미지로 변경 -->
  <div class="backgroundText">ATD KOREA</div>

  <div class="houseInfoBox">
    <div class="houseInfoBox_Logo"></div>
    <div class="houseInfoBox_Text">
      <div class="houseInfoBox_Title"><span>세종농장</span></div>
      <div class="houseInfoBox_Tag"><span>@Farm Sejong</span></div>
    </div>
  </div>

  <div class="navList">
    <ul>
      <li>대시보드</li>
      <li>설치 포인트별</li>
      <li>악취 확산도</li>
      <li>데이터</li>
    </ul>
  </div>

  <div class="navFooter">
    <div class="separateLine"></div>
    <div class="navFooter_Alert"><span>알람</span></div>
    <div class="navFootet_Logout"><span>로그아웃</span></div>
  </div>
</div>

<!-- 세로방향 portrait -->
