.atmosphereInfoBox {
  width: 100%;
}

.atmosphereInfo_container {
  margin-bottom: 20px;
}

.atmosphereInfo_locationName {
  font-weight: 700;
  padding: 10px 0;
}

.atmosphereInfo_dataBox {
  border: 1px solid #e5e5e6;
  border-radius: 8px;
  padding: 10px 20px 20px 20px;
}

.dataBox_topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.dataBox_atmosphere {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.icon_temperature {
  background-image: url('../Public/Icons/Temperature.png');
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  border: 1px solid #e5e5e6;
  border-radius: 50%;
}

.icon_humidity {
  background-image: url('../Public/Icons/Humidity.png');
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  border: 1px solid #e5e5e6;
  border-radius: 50%;
}

.dataBox_detailButton {
  align-self: flex-end;
  font-size: 0.8rem;
  color: black;
  background-color: #eaeaeb;
  border: 1px solid #e5e5e6;
  padding: 8px 18px;
  border-radius: 6px;
  text-decoration: none;
}
.dataBox_detailButton:hover {
  cursor: pointer;
  background-color: #3c3c3e;
  color: white;
}

.dataBox_separateLine {
  width: 100%;
  margin: 10px auto;
  border: 1px solid #e5e5e6;
}

.dataBox_measurmentData {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.measurementData {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  background-color: #f7f7f8;
  border: 1px solid #f7f7f8;
  border-radius: 8px;
  padding: 20px;
}

.gaseousState {
  background-color: #eaeaeb;
  border-radius: 4px;
  padding: 4px 16px;
  color: #7d7f82;
  font-size: 0.8rem;
}

.voidBox {
  width: 100%;
  height: 2rem;
}

.gaugeGraph canvas {
  width: 100%;
  height: 100%;
}

.gaseousValue {
  font-weight: 700;
  margin: 4px;
}

.gaseousName {
  color: #7d7f82;
  font-size: 0.9rem;
}
