.lineGraphBox {
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.lineGraphBox #gasLineChart {
  width: 100% !important;
  height: 100% !important;
}

/* temp */
@media screen and (orientation: landscape) {
  .lineGraphBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (orientation: portrait) {
  .lineGraphBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
