.lineGraphBox {
  margin-bottom: 20px;
  overflow: visible;
  width: 100%;
}

.lineGraphBox canvas {
  width: 100% !important;
  height: 100% !important;
  overflow: visible;
}

/* temp */
@media screen and (orientation: landscape) {
  .lineGraphBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (orientation: portrait) {
  .lineGraphBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
