/* temp */
@media screen and (orientation: landscape) {
  .probabilityBox {
    width: 48.5%;
  }
}
@media screen and (orientation: portrait) {
  .probabilityBox {
    width: 100%;
  }
}

.probabilityBox {
  margin-bottom: 20px;
}
.probability_title {
  font-weight: 700;
  padding: 10px 0;
}

.probability_mapBoxes {
  display: flex;
  justify-content: space-between;
}

.probability_mapBox {
  width: 47%;
  background-color: #f0f0f0;
  display: inline-block;
}
