.radarGraphBox {
  margin-bottom: 20px;
  overflow: visible;
  width: 100%;
}

.radarGraphBox canvas {
  width: 75% !important;
  height: 100% !important;
  overflow: visible;
}

@media screen and (orientation: landscape) {
  .radarGraphBox {
    display: flex;
    align-items: flex-center;
    justify-content: center;
  }
}
@media screen and (orientation: portrait) {
  .radarGraphBox {
    display: flex;
    align-items: flex-center;
    justify-content: center;
  }
}
