/* temp */
@media screen and (orientation: landscape) {
  .rawDataBox {
    width: 48.5%;
    border: 1px solid black;
    height: 369px;
    overflow: auto;
  }
}
@media screen and (orientation: portrait) {
  .rawDataBox {
    width: 100%;
    border: 1px solid black;
    height: 369px;
    overflow: auto;
  }
}

.rawDataBox {
  padding: 0 2%;
}

.rawDataHeader {
  display: flex;
}

.rawDataBox table {
  min-height: 100%;
  min-width: 100%;
}
.rawDataBox table th,
.rawDataBox table td {
  text-align: left;
  white-space: nowrap;
  padding: 10px;
}
