.statusBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.statusBar_currentTime {
  width: 300px;
}

#statusBar_choiceDate {
  background-color: #eaeaeb;
  border-radius: 4px;
  padding: 10px;
  border: none;
  outline: none;
  width: auto;
  font-size: 0.8rem;
  box-sizing: content-box;
}
.daterangepicker .calendar-table td:nth-child(1):not(.active):not(.off) {
  color: red !important;
}
.daterangepicker .calendar-table td:nth-child(7):not(.active):not(.off) {
  color: blue !important;
}
.daterangepicker .calendar-table td.active {
  color: #fff !important;
}
.daterangepicker th:nth-child(1) {
  color: red !important;
}
.daterangepicker th:nth-child(7) {
  color: blue !important;
}
.daterangepicker td.off,
.daterangepicker td.disabled {
  text-decoration: none !important;
  color: #ccc !important;
  cursor: not-allowed;
}
.daterangepicker td {
  position: relative;
}
body .daterangepicker .drp-calendar.right {
  display: none !important;
  visibility: hidden !important;
  width: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
}
.daterangepicker {
  width: auto !important;
}
body .daterangepicker {
  max-width: 300px !important;
  min-width: unset !important;
}
body .daterangepicker .drp-selected {
  display: none !important;
}

.icon_atmosphericPressure {
  background-image: url('../Public/Icons/AtmosphericPressure.png');
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.icon_fineDust {
  background-image: url('../Public/Icons/PM.png');
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
