<div class="atmosphereInfo_container">
  <div class="atmosphereInfo_locationName">
    <span>선택된 포인트가 없습니다.</span>
  </div>

  <div class="atmosphereInfo_dataBox">
    <div class="dataBox_topRow">
      <div class="dataBox_atmosphere">
        <div class="atmosphere_wind">
          <span class="icon_windDirection">➢</span>
          <span>[풍향]</span>
          <span>[풍속]</span>
          <span>m/s</span>
        </div>
        <div class="atmosphere_temperature">
          <span class="icon_temperature"></span>
          <span>[온도]</span>
          <span>℃</span>
        </div>
        <div class="atmosphere_humidity">
          <span class="icon_humidity"></span>
          <span>[습도]</span>
          <span>%</span>
        </div>
      </div>

      <a
        href="devicePointIndex.html"
        class="dataBox_detailButton"
        data-index="{{index}}"
      >
        자세히 보기</a
      >
    </div>

    <div class="dataBox_separateLine"></div>

    <div class="dataBox_measurmentData">
      <div class="measurementData ammoniaBox">
        <div class="gaseousState">단절</div>
        <div class="voidBox"></div>
        <div class="gaugeGraph">
          <canvas id="ammoniaGauge_{{index}}"></canvas>
        </div>
        <div class="voidBox"></div>
        <div class="gaseousValue">0.0</div>
        <div class="gaseousName">암모니아</div>
      </div>

      <div class="measurementData hydrogenSulfideBox">
        <div class="gaseousState">단절</div>
        <div class="voidBox"></div>
        <div class="gaugeGraph">
          <canvas id="hydrogenSulfideGauge_{{index}}"></canvas>
        </div>
        <div class="voidBox"></div>
        <div class="gaseousValue">0.0</div>
        <div class="gaseousName">황화수소</div>
      </div>

      <div class="measurementData methaneBox">
        <div class="gaseousState">단절</div>
        <div class="voidBox"></div>
        <div class="gaugeGraph">
          <canvas id="methaneGauge_{{index}}"></canvas>
        </div>
        <div class="voidBox"></div>
        <div class="gaseousValue">0.0</div>
        <div class="gaseousName">메탄</div>
      </div>

      <div class="measurementData carbonDioxideBox">
        <div class="gaseousState">단절</div>
        <div class="voidBox"></div>
        <div class="gaugeGraph">
          <canvas id="carbonDioxideGauge_{{index}}"></canvas>
        </div>
        <div class="voidBox"></div>
        <div class="gaseousValue">0.0</div>
        <div class="gaseousName">이산화탄소</div>
      </div>
    </div>
  </div>
</div>
