<!-- 반복 요소 -->
<div class="atmosphereInfo_container">
  <div class="atmosphereInfo_locationName"><span>퇴비사(외부)</span></div>

  <div class="atmosphereInfo_dataBox">
    <div class="dataBox_topRow">
      <div class="dataBox_atmosphere">
        <div class="atmosphere_wind">
          <span>◉</span>
          <span>남서풍</span>
          <span>123m/s</span>
        </div>
        <div class="atmosphere_temperature">
          <span>◉</span>
          <span>25º</span>
        </div>
        <div class="atmosphere_humidity">
          <span>◉</span>
          <span>55%</span>
        </div>
      </div>

      <a class="dataBox_detailButton">자세히 보기</a>
    </div>

    <div class="dataBox_separateLine"></div>

    <div class="dataBox_measurmentData">
      <div class="measurementData ammoniaBox">
        <div class="gaseousState">단절</div>
        <div class="voidBox"></div>
        <div class="gaugeGraph">
          <canvas id="ammoniaGauge_{{index}}"></canvas>
        </div>
        <div class="voidBox"></div>
        <div class="gaseousValue">0.0</div>
        <div class="gaseousName">암모니아</div>
      </div>

      <div class="measurementData hydrogenSulfideBox">
        <div class="gaseousState">단절</div>
        <div class="voidBox"></div>
        <div class="gaugeGraph">
          <canvas id="hydrogenSulfideGauge_{{index}}"></canvas>
        </div>
        <div class="voidBox"></div>
        <div class="gaseousValue">0.0</div>
        <div class="gaseousName">황화수소</div>
      </div>

      <div class="measurementData methaneBox">
        <div class="gaseousState">단절</div>
        <div class="voidBox"></div>
        <div class="gaugeGraph">
          <canvas id="methaneGauge_{{index}}"></canvas>
        </div>
        <div class="voidBox"></div>
        <div class="gaseousValue">0.0</div>
        <div class="gaseousName">메탄</div>
      </div>

      <div class="measurementData carbonDioxideBox">
        <div class="gaseousState">단절</div>
        <div class="voidBox"></div>
        <div class="gaugeGraph">
          <canvas id="carbonDioxideGauge_{{index}}" \></canvas>
        </div>
        <div class="voidBox"></div>
        <div class="gaseousValue">0.0</div>
        <div class="gaseousName">이산화탄소</div>
      </div>
    </div>
  </div>
</div>
