<div class="navContainer">
  <div class="houseInfoBox">
    <div class="houseInfoBox_Logo"></div>
    <div class="houseInfoBox_Text">
      <div class="houseInfoBox_Title"><span>세종농장</span></div>
      <div class="houseInfoBox_Tag"><span>@Farm Sejong</span></div>
    </div>
  </div>

  <div class="navList">
    <ul>
      <a href="dashboardIndex.html"><li>대시보드</li></a>
      <a href="devicePointIndex.html"><li>설치 포인트별</li></a>
      <a href=""><li>악취 확산도</li></a>
      <a href=""><li>데이터</li></a>
    </ul>
  </div>

  <div class="navFooter">
    <div class="nav_separateLine"></div>
    <div class="navFooter_Alert"><span>◉ 알람</span></div>
    <div class="navFooter_Logout"><span>◉ 로그아웃</span></div>
  </div>
</div>
