<div class="navContainer">
  <div class="houseInfoBox" id="houseInfoBox">
    <!-- <input type="checkbox" id="houseInfoModal" /> -->
    <div class="houseInfoBox_Logo"></div>
    <div class="houseInfoBox_Text">
      <div class="houseInfoBox_Title"><span>세종농장</span></div>
      <div class="houseInfoBox_Tag"><span>@Farm Sejong</span></div>
    </div>
  </div>

  <div class="navList">
    <ul>
      <a href="dashboardIndex.html"
        ><li><span class="icon_dashboard"></span>대시보드</li></a
      >
      <a href="devicePointIndex.html"
        ><li><span class="icon_devicePoint"></span>설치 포인트별</li></a
      >
      <a href=""
        ><li><span class="icon_odorDispersion"></span>악취 확산도</li></a
      >
      <a href="rawDataIndex.html"
        ><li><span class="icon_data"></span>데이터</li></a
      >
    </ul>
  </div>

  <div class="navFooter">
    <div class="nav_separateLine"></div>
    <div class="navFooter_Alert">
      <span class="icon_alert"></span><span class="navFooter_Text">알람</span>
    </div>
    <div class="navFooter_Logout">
      <span class="icon_logout"></span
      ><span class="navFooter_Text">로그아웃</span>
    </div>
  </div>
</div>

<div id="houseInfoModal" class="modal" style="display: none">
  <div class="modal-content">
    <span class="close" id="closeModal">&times;</span>
    <h2>농장 정보</h2>
    <p>여기에 농장에 대한 상세 정보를 넣으세요.</p>
  </div>
</div>
