<div class="statusBarContainer">
  <div class="statusBar_currentTime">
    <span>현재시간: </span>
    <span class="currentTime" id="currentTime">2025/06/04 | 22:23:47</span>
  </div>

  <input
    type="text"
    id="statusBar_choiceDate"
    name="statusBar_choiceDate"
    value="날짜 선택 ⏷"
    placeholder="날짜 선택 ⏷"
  />

  <div class="statusBar_atmosphericPressure">
    <span class="icon_atmosphericPressure"></span>
    <span>대기압</span>
    <span>100</span>
    <span>apm</span>
  </div>

  <div class="statusBar_fineDust">
    <span class="icon_fineDust"></span>
    <span>미세먼지</span>
    <span>100</span>
    <span>pm</span>
  </div>
</div>
