<div class="statusBarContainer">
  <div class="statusBar_currentTime">
    <span>현재시간: </span>
    <span class="currentTime" id="currentTime">2025/06/04 | 22:23:47</span>
  </div>

  <div class="date-ragne-group">
    <input
      type="text"
      id="statusBar_choiceDate"
      name="statusBar_choiceDate"
      value="날짜 선택"
      placeholder="날짜 선택"
    />
    <div class="quick-range-btn-group">
      <button class="quick-range-btn" data-range="day">1 일</button>
      <button class="quick-range-btn" data-range="week">1 주</button>
      <button class="quick-range-btn" data-range="month">1 달</button>
      <button class="quick-range-btn" data-range="year">1 년</button>
    </div>
  </div>

  <div class="statusBar_atmosphericPressure">
    <div style="display: inline-block">
      <span class="icon_atmosphericPressure"></span>
      <span>대기압</span>
    </div>
    <div style="display: inline-block">
      <span>1010</span>
      <span>hPa</span>
    </div>
  </div>

  <div class="statusBar_fineDust">
    <div style="display: inline-block">
      <span class="icon_fineDust"></span>
      <span>미세먼지</span>
    </div>
    <div style="display: inline-block">
      <span>9</span>
      <span>µg/m³</span>
    </div>
  </div>
</div>
